/* Users.css */
.users-container {
    text-align: center;
    margin: 20px;
    width: 95rem;
  }
  
  .users-container h2 {
    font-size: 24px;
    color: #333; /* Text color for the heading */
    margin-bottom: 20px;
  }
  
  .users-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .users-table th,
  .users-table td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: black;
  }
  
  .users-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .users-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  .users-table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  